.git-card{
  box-shadow: 1px 1px 6px rgb(175, 175, 175);
  border-radius: 4px;
  width: 700px;
  display: flex;
  padding: 10px;
  .git-card-image{
    width: 50%;
    img{
      width: 100%;
      padding: 10px;
    }
  }
  .git-card-details{
    width: 50%;
    text-align: left;
    padding: 10px;
    .username{
      font-size: 20px;
      font-weight: 500;
      margin-top: 8px;
      margin-bottom: 8px;
    }
    .bio{
      font-size: 17px;
      margin-bottom: 16px;
    }
    .repo-count{
      margin-bottom: 10px;
    }
  }
}